.bgMain {
	background: rgb(99, 17, 121);
	background: linear-gradient(
		45deg,
		rgba(99, 17, 121, 1) 0%,
		rgba(13, 0, 70, 1) 40%,
		rgba(13, 0, 70, 1) 60%,
		rgba(99, 17, 121, 1) 100%
	);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.glass {
	width: 60vw;
	height: 80vh;
	padding: 20px;
	color: #c1c1c1;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.heading {
	font-size: larger;
	text-align: center;
	width: 100%;

	h2 {
		font-weight: 100;
	}
}

.head {
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0) 0%,
		rgba(193, 193, 193, 0.25115983893557425) 50%,
		rgba(255, 255, 255, 0) 100%
	);
}

.line {
	border: 0;
	height: 1px;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(193, 193, 193, 0.2987788865546218) 50%,
		rgba(255, 255, 255, 0) 100%
	);
}

.bubble_container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bubble_centered {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 50px;
}

.bubble_evenly {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 50px;
}
